	<script src="/assets/js/jquery-1.8.3.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="/assets/js/unslider.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="/assets/js/jquery.mobilemenu.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="/assets/js/app.js" type="text/javascript" charset="utf-8"></script>
	<!-- Google Analytics -->
    <script>
        (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
        function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
        e=o.createElement(i);r=o.getElementsByTagName(i)[0];
        e.src='//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
        ga('create','UA-46890130-1');ga('send','pageview');
    </script>