---
layout: default
title: Who is Joy Wenke
---

    <img class="float-left" src="/assets/images/joywenke-headshot.jpg" alt="Joy Wenke" />

    <div class="lede">
	    <h1>{{ page.title }}</h1>
	    <p>As a former bilingual educator and master teacher who holds a current BCLAD credential and a Masters in Educational Leadership,  Joy Wenke now serves as a curriculum and instruction consultant.  During her 27 years in education, Joy has been involved in the following:</p>
    </div>

    <blockquote class="about-quote">
    	{% for testimonial in site.data.aboutquotes %}
			<p>{{ testimonial.quote }}</p>

			<p>{{ testimonial.name }}<br />
			{{ testimonial.title }}</p>
		{% endfor %}
    </blockquote>

    <h3>Consulting and Presenting Opportunities</h3>
    <ul>
		<li>Joy works with leadership teams and administrators to identify target areas which need support.  By collaborating, a strategic professional development plan is engineered to nurture successful teaching and learning.</li>
		<li>Conducts workshops and provides coaching opportunities for teachers in a variety of instructional and curricular areas: effective tools for English Language Learners, facilitating successful and productive professional learning communities, early literacy, <a href="https://dibels.org/">DIBELS&reg;</a>, <a href="http://thinkingmaps.com/">Thinking Maps&reg;</a> and more.</li>
		<li>Common Core classroom demonstration lessons that include hight levels of student engagement, critical thinking, and academic language.</li>
	</ul>

	<p class="clear">
		<img class="full-width" src="/assets/images/joywenke-banner.jpg" alt="Joy Wenke" />
	</p>

	<div class="one-third">
		<h3>National and Local Presentations</h3>
		<ul>
			{% for presentation in site.data.presentations %}
				<li>{{ presentation }}</li>
			{% endfor %}
		</ul>
	</div>

	<div class="two-thirds">
		<h3>Past/Current Clients, Presentations, and Affiliations</h3>
		<p>A partial list includes:</p>
		<ul>
			{% for client in site.data.clients %}
				<li>{{ client }}</li>
			{% endfor %}
		</ul>
	</div>

	<p class="clear">See <a href="/services">professional development topics</a> for a listing of possible areas of focus for professional development.</p>
