<!DOCTYPE html>
<html>

	<head>

	  <meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1">

	  <script type="text/javascript" src="//use.typekit.net/qyi5dul.js"></script>
	  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
		
		<link rel="stylesheet" href="/assets/css/normalize.css" type="text/css" media="all">
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" media="all">
  
	  <link href="/assets/favicon.ico" rel="shortcut icon">
	  <link href="/assets/apple-touch-icon.png" rel="apple-touch-icon">
  
	  <title>Joy Wenke | Educational Consultant & ELD Specialist</title>
  
	</head>

	<body>

	  <header role="banner">
	    <a id="logo" href="/"><img src="/assets/images/logo.png" alt="Joy Wenke" /></a>
			{% include nav.html %}
	  </header>
  
	  {{ content }}
	
		{% include footer.html %}
		
	</body>

</html>